.head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.chat-container{
    border: 2px solid black;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}
.chat{
    height: 400px;
    overflow-y: auto;  
}
.input-container{
    display: flex; 
    gap: 10px;   
}

.message{
    margin: 5px 0;
    padding: 10px;
    border: 2px solid black;
    border-radius: 22px;
}
.sender{
    background-color: #40F3C6;
}
.receiver{  
    background-color: #61f78e;
}